.palceorder {
    display: flex;
    align-items: start;
    justify-content:space-between ;
    gap:50px;
    margin-top: 100px;
}

.placeorder-left{
    width: 100%;
    max-width: max(30%,500px);
}

.placeorder-left .deliveryinfo{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

.placeorder-left input{
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 6px;
    outline-color: tomato;
    box-sizing: border-box;
}

.placeorder-left .multy-fields{
    display: flex;
    gap: 10px;
}

.placeorder-right{
    width: 100%;
    max-width: max(40%,500px);
}

.placeorder-right .cart-total button{
    margin-top: 30px;
}

.placeorder-left select {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 6px;
    outline-color: tomato;
    box-sizing: border-box;

    
}

.placeorder-left input[type='email'] {
    color: rgb(155, 21, 21);
}